<?xml version='1.0' encoding='utf-8'?>
<widget id="com.github.cvespa" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>multiBudget</name>
    <description>
        A simiple multi account budget book, build in phonegap with angularjs and bootstrap.
    </description>
    <author email="christian.vespa@silkrouteglobal.com" href="http://github.com/cvespa">
        Christian Vespa
    </author>

    <preference name="phonegap-version" value="3.5.0" />
    <preference name="android-minSdkVersion" value="8" />
    <preference name="android-targetSdkVersion" value="16" />
    <preference name="android-installLocation" value="auto" />
    <preference name="load-url-timeout" value="15000" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="false" />
    <preference name="orientation" value="portrait" />
    <preference name="stay-in-webview" value="false" />
    <preference name="prerendered-icon" value="true" />
    <preference name="detect-data-types" value="false" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="false" />
    <preference name="auto-hide-splash-screen" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="webviewbounce" value="false" />

    <content src="index.html" />

    <access origin="*"/>

    <!--Image Assets-->
    <icon src="www/img/icon/icon.png" />
    <!--Android ICONS-->
    <platform name="android">
              <icon src="www/img/icon/android/icon-36.png" density="ldpi" />
              <icon src="www/img/icon/android/icon-48.png" density="mdpi" />
              <icon src="www/img/icon/android/icon-72-a.png" density="hdpi" />
              <icon src="www/img/icon/android/icon-96.png" density="xhdpi" />
     </platform>

     <!--Splash Screen Definitions-->
     <preference name="SplashScreen" value="screen" />
     <preference name="SplashScreenDelay" value="10000" />
</widget>
